html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica;
  background-color: #f2f2f2;
}
.app {
  width: 15rem;
  height: 2rem;
  position: relative;
}
.app img {
  width: 15rem;
}
.app .open_app {
  width: 3.8rem;
  height: 1.8rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
.app .close_app {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 0.6rem;
  left: 0.44rem;
  z-index: 100;
  background: url(../images/app-close.png);
  background-size: 0.6rem 0.6rem;
}
.header {
  width: 15rem;
  height: 3.6rem;
  background-color: #ffdb47;
}
.header .header_head {
  margin: 0 auto;
  width: 13.72rem;
  height: 1.7rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_head a {
  width: 0.72rem;
  height: 1.2rem;
}
.header .header_head .head_left img,
.header .header_head .head_right img {
  width: 0.72rem;
  height: 1.2rem;
}
.header .header_head .head_middle {
  width: 11.4rem;
  height: 1.76rem;
  text-align: center;
}
.header .header_head .head_middle img {
  width: 7.8rem;
  height: 1.54rem;
}
.header .header_foot {
  margin: 0 auto;
  width: 15rem;
  box-sizing: border-box;
  padding: 0 0.46rem;
  height: 1.7rem;
}
.header .header_foot .foot_search {
  margin: 0.28rem 0;
  height: 1.2rem;
  background-color: #fff;
  width: 100%;
  border-radius: 0.6rem;
  position: relative;
  font-size: 0.5rem;
  box-sizing: border-box;
  padding-top: 0.24rem;
  padding-left: 1.38rem;
  color: #999999;
}
.header .header_foot .foot_search::before {
  content: "";
  width: 0.72rem;
  height: 0.72rem;
  background: url(../images/icon_search.png) no-repeat;
  background-size: 0.72rem 0.72rem;
  position: absolute;
  left: 0.5rem;
  top: 0.24rem;
}
.banner {
  width: 15rem;
  height: 4.58rem;
  background: url(../images/banner_bg.png) no-repeat;
  background-size: 15rem 4.58rem;
}
.banner .banner_box {
  background: red;
  border-radius: 0.3rem;
  width: 14.04rem;
  margin: 0 20px;
  height: 4.58rem;
  overflow: hidden;
}
.banner .banner_box img {
  margin-top: -2.3rem;
  width: 100%;
}
.activity {
  width: 15rem;
  height: 5.6rem;
  display: flex;
  justify-content: space-between;
}
.activity img {
  width: 100%;
  height: 100%;
}
nav {
  width: 15rem;
  height: 6.4rem;
  background: url(../images/nav_bg.png) no-repeat;
}
nav .nav {
  width: 15rem;
  height: 6.16rem;
}
nav .nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav .nav ul li {
  float: left;
  list-style: none;
  width: 3rem;
  padding-top: 0.44rem;
}
nav .nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
}
nav .nav ul li a img {
  width: 1.68rem;
  height: 1.68rem;
}
nav .nav ul li a span {
  display: block;
  font-size: 0.44rem;
  color: #666;
}
.price {
  width: 15rem;
  height: 4.68rem;
  display: flex;
}
.price img {
  width: 5rem;
  height: 4.68rem;
  flex: 1;
}
.price img:nth-child(1) {
  flex: 2;
}
.price img:nth-child(n + 2) {
  border-left: 0.04rem solid #fff;
}
.rank {
  width: 14.04rem;
  height: 9.6rem;
  margin-left: 0.48rem;
  margin-top: 0.4rem;
}
.rank ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 0.3rem;
}
.rank ul li {
  width: 7.02rem;
  height: 4.8rem;
  padding: 0.3rem 0 0 0.4rem;
  box-sizing: border-box;
  list-style: none;
  float: left;
}
.rank ul li .title {
  height: 0.8rem;
}
.rank ul li .title span {
  display: block;
  float: left;
}
.rank ul li .title .bigtitle {
  font-size: 0.5rem;
  font-weight: bold;
}
.rank ul li .title .rankdes {
  padding: 0 0.2rem;
  background: #f9f5ee;
  color: #ab813a;
  font-size: 0.44rem;
  border-radius: 0.2rem;
  margin-left: 0.3rem;
  margin-top: 0.06rem;
}
.rank ul li .ftitle {
  display: block;
  color: #999;
  font-size: 0.44rem;
}
.rank ul li .footerimg {
  margin-top: 0.2rem;
  height: 2.8rem;
  display: flex;
}
.rank ul li .footerimg a {
  width: 2.8rem;
  height: 2.8rem;
}
.rank ul li .footerimg a img {
  width: 2.8rem;
  height: 2.8rem;
}
.rank ul li .footerimg a:nth-child(2) {
  margin-left: 0.6rem;
}
.rank ul li:nth-child(2) {
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.rank ul li:nth-child(3) {
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}
.fixed_footer {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.fixed_footer .footer_1 {
  width: 15rem;
  height: 1.8rem;
}
.fixed_footer .footer_1 img {
  width: 100%;
  height: 100%;
}
.fixed_footer .footer_2 {
  width: 15rem;
  height: 2rem;
  background: #fff;
}
.fixed_footer .footer_2 ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fixed_footer .footer_2 ul li {
  float: left;
  list-style: none;
  width: 3rem;
  height: 2rem;
  padding-top: 0.2rem;
}
.fixed_footer .footer_2 ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
}
.fixed_footer .footer_2 ul li a img {
  width: 0.96rem;
  height: 0.96rem;
}
.fixed_footer .footer_2 ul li a span {
  width: 3rem;
  text-align: center;
  display: block;
  font-size: 0.4rem;
  color: #666;
}
.fixed_footer .footer_2 ul li:nth-child(1) span {
  color: #000;
  font-weight: bold;
}
